[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-sentry-errors = "*"
city-scrapers-core = {path = "/Users/duongcaochanh/duong.cao/city-scrapers-core", editable = true, extras = ["azure"]}
scrapy-wayback-middleware = "*"
pytz = "*"
scrapy-playwright = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
